:root {
    --background-color:#171d25;
    --background-gradient: linear-gradient(180deg, rgba(33,62,90,1) 0%, rgba(23,29,37,1) 75%);
    --neutral-color:#1b2838;
    --neutral-gradient: linear-gradient(180deg, rgba(33,77,120,1) 0%, rgba(27,40,56,1) 50%);
    --header-gradient: linear-gradient(180deg, rgba(33,77,120,0.9) 0%, rgba(27,40,56,0.9) 50%);
    --secondary-color:#394960;
    --primary-color:#7a8b9d;
    --accent-color:#c5c3c0;
}

* {
    font-family: "Inter", sans-serif;
}

a:link {
    color: var(--accent-color);
}

a:visited {
    color: var(--primary-color);
}

a:focus {
    color: white;
}

a:hover {
    color: white;
    transition: color 0.2s;
}

a:active {
    color: white;
}

body {
    margin: 0px;
    background: var(--background-color);
    background: var(--background-gradient) fixed;
}

h1 {
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    font-weight: bold;
    font-family: "Inter", sans-serif;
  }


#headerWrapper, #mainWrapper {
    width: min(1280px, 100% - 60px);
    margin-inline: auto;
}

#headerWrapper {
    background: var(--neutral-color);
    background: var(--header-gradient), url(../media/Steam_icon_logo.svg) no-repeat center;
    color: var(--accent-color);
    padding: 40px 0px;
    text-align: center;
}

#mainWrapper {
    display: grid;
    grid-template-areas:
    "search results";
    grid-template-columns: 25% auto;
}

@media screen and (max-width: 850px) {
    #mainWrapper {
        grid-template-areas:
        "search"
        "results";
        grid-template-columns: 100%;
    }
}

#search {
    grid-area: search;
    background: var(--neutral-color);
    background: var(--neutral-gradient) fixed;
    border-right: 1px solid var(--neutral-color);

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.searchItem {
    width: 100%;
    height: auto;
    background-color: var(--secondary-color);
    border-bottom: solid 1px var(--neutral-color);
}

.searchTextbox {
    display: flex;
    align-items: center;
}

.searchTextbox, .searchDropdown {
    max-width: 80%;
    height: auto;
    margin: 15px auto;

    padding: 20px;
    background-color: var(--neutral-color);
    color: var(--accent-color);

    border: 1px solid transparent;
    border-radius: 12px;

}

::placeholder {
    color: var(--primary-color);
}

.searchTextbox:focus-within {
    border: 1px solid var(--primary-color);
    transition: border 0.4s;
}

.searchTextbox input {
    width: 100%;
    height: 100%;
    color: var(--accent-color);

    outline: none;
    border: none;
    background: transparent;
}

.searchTextbox button {
    width: 30px;
    height: 100%;
    color: var(--accent-color);
    cursor: pointer;

    outline: none;
    border: none;
    border-left: solid 2px var(--secondary-color);
    padding: 10px;
    background: transparent;
}

.searchDropdown:focus-within {
    border: 1px solid var(--primary-color);
    transition: border 0.4s;
}

.searchDropdown select {
    outline: none;
    border: none;
    background-color: var(--neutral-color);
    border: 1px solid var(--secondary-color);
    color: var(--primary-color);
    width: 100%;
    height: 30px;
    margin: 5px 0;
}

#results {
    grid-area: results;
}

table {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
    line-height: 0px;
}

table p {
    line-height: 1.5rem;
}

.img {
    width: 240px;
}

caption {
    padding: 10px;
    text-align: left;
    background-color: var(--neutral-color);
    color: var(--primary-color);
}

tr {
    background-color: var(--secondary-color);
    border-bottom: 1px solid var(--neutral-color);
    color: var(--accent-color);
}

tr:hover {
    background-color: var(--primary-color);
    border-bottom: 1px solid transparent;
    color: white;
    transition: all 0.2s;
    a {
        color: white;
    }
}


th, td {
    padding-right: 10px;
    text-align: left;
    vertical-align: middle;
}


th {
    position: sticky;
    top: 0px;

    vertical-align: bottom;
    padding-bottom: 5px;
    width: 120px;
    height: 30px;
    background-color: var(--neutral-color);
    color: white;
}

#fill {
    width: 200px;
}

@media screen and (max-width: 850px) {
    table {
        max-width: 400px;
        margin: auto;
    }

    th {
        display: none;
    }

    td {
        display: grid;
        justify-content: center;
        grid-template-columns: 120px 120px;
        padding: 0.2rem;
        margin: 0px auto;
    }

    tr {
        padding: 0px 100px;
    }

    td:first-child {
        padding-top: 2rem;
    }

    td:last-child {
        padding-bottom: 2rem;
    }

    /* add text before information */
    td::before {
        content: attr(data-cell) ": ";
        font-weight: bold;
        text-transform: capitalize;
    }
    
    /* do not include text for the thumbnail */
    .thumbnail::before {
        content: "";
    }

    .img {
        margin-left: -120px;
    }
}

/*tr:nth-child(even){background-color: #f2f2f2}
tr:nth-child(odd){background-color: white}*/