* {
    font-family: 'Outfit';
}

body {
    margin: 0px;
    background-color: darkgray;
}

h1 {
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    font-weight: bold;
    font-family: 'Outfit';
  }


#headerWrapper, #mainWrapper {
    width: min(1280px, 100% - 60px);
    margin-inline: auto;
}

#headerWrapper {
    background-color: chartreuse;
    padding: 40px 0px;
    text-align: center;
}

#mainWrapper {
    display: grid;
    grid-template-areas:
    "search results";
    grid-template-columns: 25% auto;
}

@media screen and (max-width: 850px) {
    #mainWrapper {
        grid-template-areas:
        "search"
        "results";
        grid-template-columns: 100%;
    }
}

#search {
    grid-area: search;
    background-color: lightgray;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.searchItem {
    width: 100%;
    height: 100px;
    background-color: #f2f2f2;
    border-bottom: solid 2px lightgray;
}

.searchTextbox {
    display: flex;
    align-items: center;
    width: 80%;
    height: 50px;
    margin: 15px auto;
    
    padding: 10px;
    background-color: lightgray;

    border: 2px solid transparent;
    border-radius: 12px;
}

.searchTextbox:focus-within {
    border: 2px solid white;
}

.searchTextbox input {
    width: 100%;
    height: 100%;

    outline: none;
    border: none;
    background: transparent;
}

.searchTextbox button {
    width: 30px;
    height: 100%;
    color: white;
    cursor: pointer;

    outline: none;
    border: none;
    border-left: solid 2px darkgray;
    padding: 10px;
    background: transparent;
}

.searchDropdown {
    width: 80%;
    height: 50px;
    margin: 15px auto;
    
    padding: 10px;
    background-color: lightgray;

    border: 2px solid transparent;
    border-radius: 12px;
}

.searchDropdown:focus-within {
    border: 2px solid white;
}

.searchDropdown select {
    outline: none;
    border: none;
    background-color: white;
    width: 100%;
    height: 30px;
    margin: 5px 0;
}

#results {
    grid-area: results;
}

table {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
}

caption {
    padding: 10px;
    text-align: left;
}

th, td {
    padding-right: 10px;
    text-align: left;
    vertical-align: middle;
}

th {
    position: sticky;
    top: 0px;

    vertical-align: bottom;
    padding-bottom: 5px;
    width: 120px;
    height: 30px;
    background-color: lightgray;
}

th#fill {
    width: auto;
}

@media screen and (max-width: 850px) {
    th {
        display: none;
    }

    td {
        display: grid;
        justify-content: center;
        grid-template-columns: 120px 120px;
        padding: 0.2rem;
        margin: 0px auto;
    }

    tr {
        padding: 0px 100px;
    }

    td:first-child {
        padding-top: 1rem;
    }

    td:last-child {
        padding-bottom: 1rem;
    }

    /* add text before information */
    td::before {
        content: attr(data-cell) ": ";
        font-weight: bold;
        text-transform: capitalize;
    }
    
    /* do not include text for the thumbnail */
    .thumbnail::before {
        content: "";
    }
}

tr:nth-child(even){background-color: #f2f2f2}
tr:nth-child(odd){background-color: white}