body {
    max-width: 1920px;
    margin: 20px;   
    font-size: 1.2rem;
}

main {
    display: flex;
}

header {
    text-align: right;
    height: 100vh;
    /*background-image: url("../media/placeholder.png");*/
}

h1 {
    font-family: "Almarai", sans-serif;
    font-weight: 700;
    font-style: normal;
}

header h1 {
    text-align: left;
    width: max(30%, 400px);
    position: absolute;
    bottom: 0;
    left: 20px;
}

h2{
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    text-align: center;
    color: #faa836;
    background-image: url("../media/placeholder.png");
    text-shadow:
        4px 4px 0 black,
        -4px 4px 0 black,
        -4px -4px 0 black,
        4px -4px 0 black;
}

h3 {
    font-family: "Almarai", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1.5rem;
    color: white;
    text-shadow:
        2px 2px 0 black,
        -2px 2px 0 black,
        -2px -2px 0 black,
        2px -2px 0 black;
}

h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
}

p {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

header p {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.rating {
    display: flex;
    justify-content: space-around;
    width: 350px;
    position: absolute;
    right: 20px;
    text-align: center;
    border: solid 2px black;
}

.rating p {
    margin: auto;
}

.main_box {
    flex: 1;
    flex-wrap: wrap;
}

#article {
    margin: 10px;
}

#tips {
    background-color: #e5f0e4;
    border: solid 6px black;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}

.image_list {
    display: flex;
    justify-content: left;
}

.container img {
    flex: 1;
    width: 200px;
    border: solid 2px black;
    border-radius: 10px;
    margin-right: 5px;
}

.container p {
    flex: auto;
    padding-left: 10px;
}

.image_grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 80px 200px auto;
    grid-template-areas: "side  subheading"
                         "side  images"
                         "side  subtext";
}

#side_image {
    grid-area: side;
    img {
        padding: 5%;
        width: 90%;
        height: 500px;
    }
}

#subheading {
    grid-area: subheading;
}

#images {
    grid-area: images;
}

#subtext {
    grid-area: subtext;
}

/* Font Classes */

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

.merriweather-black {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}

.merriweather-light-italic {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
}

.merriweather-regular-italic {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
}

.merriweather-bold-italic {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}

.merriweather-black-italic {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
}

.almarai-light {
  font-family: "Almarai", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.almarai-regular {
  font-family: "Almarai", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.almarai-bold {
  font-family: "Almarai", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.almarai-extrabold {
  font-family: "Almarai", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.titan-one-regular {
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  