body {
    max-width: 1920px;
    margin: 20px 40px;   
    font-size: 1.2rem;
}

main {
    display: flex;
    flex-wrap: wrap;
}

header {
    text-align: right;
    height: 1080px;
    background-image: url(../media/tt_logo_background.png);
}
/*
#logo {
    position: absolute;
    width: 800px;
    left: 600px;
    top: 0;
    z-index: -1;
}
*/
h1 {
    font-family: "Almarai", sans-serif;
    font-weight: 700;
    font-style: normal;
    background-color: white;
}

header h1 {
    text-align: left;
    max-width: 600px;
    padding-left: 20px;
    position: absolute;
    bottom: -200px;
}

h2{
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    margin: 20px auto;
    text-align: center;
    color: #ffc61a;
    text-shadow:
        4px 4px 0 #020918,
        -4px 4px 0 #020918,
        -4px -4px 0 #020918,
        4px -4px 0 #020918;
}

h3 {
    font-family: "Almarai", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 2rem;
    color: white;
    text-shadow:
        2px 2px 0 #020918,
        -2px 2px 0 #020918,
        -2px -2px 0 #020918,
        2px -2px 0 #020918;
}

h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
}

p {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 2rem;
    margin: 0px;
}

header p {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

footer {
    display: flex;
    justify-content: space-around;
}

footer p {
    flex: 1;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

footer p#return {
    text-align: center;
}

footer p#link {
    text-align: right;
}

#header_side {
  float: right;
  width: 25vw;
  min-width: 180px;
}

#header_image {
    width: 100%;
    float: right;
    border: solid 2px #020918;
    border-radius: 10px;
}

.rating {
    display: flex;
    width: 75%;
    height: auto;
    float: right;
    text-align: center;
    border: solid 2px #020918;
    background-color: white;
}

.rating p {
    margin: auto 10px;
}

.rating img {
  width: 25%;
  height: 25%;
}

.main_box {
    flex: 1;
    min-width: 400px;
}

#article {
    margin: 10px;
}

#tips {
    background-color: #99e7f4;
    border: solid 6px #020918;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}

.image_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.container img {
    flex: 1;
    width: 200px;
    height: 200px;
    border: solid 2px #020918;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.container p {
    flex: 1;
    max-width: 400px;
}

.image_grid {
    background-image: url(../media/tt_tomato.png);
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 80px auto auto;
    grid-template-areas: "side      subheading"
                         "side      images"
                         "subtext   subtext";

}

@media screen and (min-width: 1440px) {
    .image_grid {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 80px 220px auto;
        grid-template-areas: "side  subheading"
                             "side  images"
                             "side  subtext";
    }
}

#side_image {
    grid-area: side;
    img {
        padding: 5%;
        height: 500px;
    }
}

#subheading {
    grid-area: subheading;
}

#images {
    grid-area: images;
}

#subtext {
    grid-area: subtext;
    background-color: white;
}

/* Anchor */
a:link {
  color: #0b6f9d;
}

a:visited {
  color: #020a55;
}

a:focus {
  color: #12c2f8;
}

a:hover {
  color: #12c2f8;
}

a:active {
  color: #12c2f8;
}

/* Font Classes */

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

.merriweather-black {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}

.merriweather-light-italic {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
}

.merriweather-regular-italic {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
}

.merriweather-bold-italic {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}

.merriweather-black-italic {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
}

.almarai-light {
  font-family: "Almarai", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.almarai-regular {
  font-family: "Almarai", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.almarai-bold {
  font-family: "Almarai", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.almarai-extrabold {
  font-family: "Almarai", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.titan-one-regular {
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  